@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,700;1,800&display=swap');
@import url('//db.onlinewebfonts.com/c/ccfdf10ba24124f7c35e43827aec5344?family=NoyhRW01-Medium');

* {
    padding: O;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
}

body {
    box-sizing: border-box;
    height: 500vh;
}

header {
    display: flex;
    background-color: rgb(255, 253, 253);
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
    position: fixed;
    width: 100%;

}

nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;


}

nav ul li {
    padding: 20px;
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: black;
    font-size: 20;
    font-weight: 600;
}

ul li a:hover {
    color: orange;
}



/***************************** Search ****************************/

.container-input {
    position: relative;
}

.input {
    width: 150px;
    padding: 10px 0px 10px 40px;
    border-radius: 15px;
    border: solid 2px #cacaca;
    transition: all .2s ease-in-out;
    outline: none;
    opacity: 0.8;
}

.container-input svg {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
}

.input:focus {
    opacity: 1;
    width: 250px;
}

/***************************** searching End ****************************/

.grid {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 68%;
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container .hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-banner {
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 450px;

}

.hero-banner h1 {
    font-size: 40pt;
    width: 400px;
    line-height: 1.3;
    font-weight: 600
}

.hero-banner p {
    margin: 50px 0;
    width: 420px;


}



.hero-banne,
.button {

    display: flex;
    justify-content: space-between;
    width: 250px;


}

.hero-banne,
.button a:first-child {
    background-color: #8873EF;
    text-decoration: none;
    color: white;
    padding: 20px 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: "NoyhRW01-Medium";
    border-radius: 20px;
    outline: 0;
    transition: all .2s ease;
}

.hero-banne,
.button a:first-child:hover {
    background-color: #FCDA69;
    color: #8873EF;
}

.hero-banne,
.button a:last-child {

    text-decoration: none;
    color: rgb(68, 68, 68);
    padding: 20px 30px;
    align-items: center;
    font-family: "NoyhRW01-Medium";
    justify-content: center;
    display: flex;
    border-radius: 20px;
}


.img-banner img {
    height: 500px;
    
}


.media {
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 450px;
    margin: 50px 0;
    font-weight: 600;
    height: 100px;
}

.media .link {
    justify-content: space-evenly;
    display: flex;

    width: 300px;
    height: 100px;
    align-items: center;

}

.media .link a {
    text-decoration: none;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 50px;
    width: 50px;
    font-size: 20pt;
    padding: 10px;
    border-radius: 100%;
    transition: 0.3s;
    background-color: #F6F6F6;
    color: black;
}

.media .link a:hover {
    position: static;
    background-color: #FCDA69;
    color: white;
}

.container-2 {
    background-color: #FCDA69;
    height: 70vh;
}



.grid-2 {
    height: 120vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FCDA69;
}

.grid-2 .container-2{
    justify-content: space-between;
    display: flex;
    width: 68%;
}

.grid-2 .service{
    
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.grid-2 .service h1{
    font-size: 65pt;
    font-weight: 600;
}
.grid-2 .service p{
    font-size: 15pt;
    width: 500px;
}


.grid-2 .content {
    
    
    width: 600px;
    
}

.grid-2 .content .content-item{
    border-top:4px solid black ;
   
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 250px;
    
}

.grid-2 .content .content-item h1{
    font-size: 35pt;
}

.grid-2 .content .content-item a{
    color: black;
    font-weight: 500;
}